---
import Layout from "../layouts/Layout.astro";
const posts = await Astro.glob('../pages/blogs/*.md');
const sorted = posts.sort((a, b) => {
	const first_date = new Date(a.frontmatter.date)
	const second_date = new Date(b.frontmatter.date)
	return second_date - first_date;
})
---
<Layout>
	<h1 class="text-4xl mt-6 font-bold text-center">Small blog</h1>
	<p class="lg:text-sm text-2xl text-gray-600 italic text-center font-bold my-5 tracking-wider">A collection of technical articles</p>

	<div class="mx-12 p-2 px-8 rounded">
	{sorted.map(post => {
		return          <div class="flex flex-col my-8"><a href={post.url} class="text-2xl lg:text-2xl text-gray-900 font-semibold tracking-wide  hover:text-indigo-500 duration-300">{post.frontmatter.title}</a>
                            <time class="text-xs tracking-wide uppercase text-gray-400">{post.frontmatter.date}</time>
                            <p class="mt-3 text-gray-600"></p>
							<div class="h-2 border-b-2 border-dotted border-gray-200"></div>
						</div>
		})}
	</div>
</Layout>