---
import Navbar from "./Navbar.astro";
import icon from "../assets/icon.webp";
---
<head>
	<title>Shalaw's Portfolio</title>
    <link rel="icon" type="image/png" href={icon} />
</head>
<Navbar />
<slot />