<ul class='lg:p-0 p-4 text-ms lg:text-md flex font-bold text-gray-900 sticky top-0 bg-white'>
    <li class='m-4 hover:text-indigo-400 duration-300'><a href='/'>Home</a></li>
    <li class='m-4 hover:text-indigo-400 duration-300'><a href='/projects'>Projects</a></li>
    <li class='m-4 hover:text-indigo-400 duration-300'><a href='/experience'>Experience</a></li>
    <li class='m-4 hover:text-indigo-400 duration-300'><a href='/blog'>Blog</a></li>
    <li class='m-4 hover:text-indigo-400 duration-300'><a href='/about'>About</a></li>
</ul>